<p>
  navbar works!
</p>
<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NavBar Demo</title>
    
     
</head>

<body style="margin-bottom:50px">
    <div id="page">
        <header class="container">
            <nav class="navbar navbar-light bg-light navbar-expand-md">
                <a class="navbar-brand" href="file:///C:/Users/VJIT/Downloads/05-Nav-Navbars.html#">
                    <img src="file:///C:/Users/VJIT/Downloads/images/igate-logo.png" alt="IGATE">
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="file:///C:/Users/VJIT/Downloads/05-Nav-Navbars.html#" class="nav-link active">About US</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="file:///C:/Users/VJIT/Downloads/05-Nav-Navbars.html#" data-toggle="dropdown" class="nav-link dropdown-toggle">Services </a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">
                                    <a href="file:///C:/Users/VJIT/Downloads/05-Nav-Navbars.html#" tabindex="-1">Application Development</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="file:///C:/Users/VJIT/Downloads/05-Nav-Navbars.html#" tabindex="-1">Application Maintenance</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="file:///C:/Users/VJIT/Downloads/05-Nav-Navbars.html#" tabindex="-1">Cloud Services</a>
                                </li>
                                <li class="dropdown-item">
                                    <a href="file:///C:/Users/VJIT/Downloads/05-Nav-Navbars.html#" tabindex="-1">Enterprise Mobility</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="file:///C:/Users/VJIT/Downloads/Contactus.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
      
        <footer class="container">
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div style="text-align:center;padding:10px">
                    <p>© Copyrights reserved IGATE 2014</p>
                </div>
            </nav>
        </footer>
    </div>
   


</body></html>